{% extends 'base.html.twig' %}

{% block title %}WhyNotDIY{% endblock %}

{% block body %}
<main>
        <section>
            <h2>Latest Blog Posts {{ app.user.username }}</h2>
            {# You can loop through and display your latest blog posts here #}
        </section>
    </main>
{% endblock %}
