<form method="post" action="{{ path('app_forbidden_words_delete', {'id': forbidden_word.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ forbidden_word.id) }}">
    <button class="btn">Delete</button>
</form>
