{% extends 'base.html.twig' %}

{% block title %}ForbiddenWords index{% endblock %}

{% block body %}
    <h1>Inappropriate Words</h1>

    <a href="{{ path('app_admin_forbidden_new') }}">Add more</a>
    <table class="table">
        <thead>
            <tr>
                <th>Words</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for forbidden_word in forbidden_words %}
            <tr>
                <td>{{ forbidden_word.words }}</td>
                <td>
                    {{ include('admin/forbidden_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
