{% extends 'base.html.twig' %}

{% block title %}New ForbiddenWords{% endblock %}

{% block body %}
    <h1>Create new ForbiddenWords</h1>

    {{ include('admin/forbidden_form.html.twig') }}

    <a href="{{ path('app_admin_forbidden_words') }}">back to list</a>
{% endblock %}
