{{ form_start(form) }}
    {{ form_row(form.words, {'attr': {'class': 'border w-full rounded my-2 mx-2 px-4', 'placeholder': 'Add multiple by separating with a ","'}}) }}
    <button class="btn inline-block rounded bg-gray-800 text-gray-300 hover:bg-gray-700 hover:text-white mt-6 px-3 pb-1.5 pt-1.5">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
