{% extends 'base.html.twig' %}

{% block title %}403{% endblock %}

{% block body %}
<div class="flex flex-col">
    <p class="text-xl">Access Denied</p>
    <p>You do not have permission to access this resource.</p>
</div>
{% endblock %}