{% extends 'base.html.twig' %}

{% block title %}ReportsC index{% endblock %}

{% block body %}
    <h1>ReportsC index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reports_c in reports_cs %}
            <tr>
                <td>{{ reports_c.id }}</td>
                <td>
                    <a href="{{ path('app_reports_c_show', {'id': reports_c.id}) }}">show</a>
                    <a href="{{ path('app_reports_c_edit', {'id': reports_c.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reports_c_new') }}">Create new</a>
{% endblock %}
