{% extends 'base.html.twig' %}

{% block title %}Edit ReportsB{% endblock %}

{% block body %}
    <h1>Edit ReportsB</h1>

    {{ include('reports_b/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reports_b_index') }}">back to list</a>

    {{ include('reports_b/_delete_form.html.twig') }}
{% endblock %}
