{% extends 'base.html.twig' %}

{% block title %}ReportsB index{% endblock %}

{% block body %}
    <h1>ReportsB index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reports_b in reports_bs %}
            <tr>
                <td>{{ reports_b.id }}</td>
                <td>
                    <a href="{{ path('app_reports_b_show', {'id': reports_b.id}) }}">show</a>
                    <a href="{{ path('app_reports_b_edit', {'id': reports_b.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_reports_b_new') }}">Create new</a>
{% endblock %}
