<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('image/favicon.png') }}" type="image/png">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% include 'script.html.twig' %}
        {% endblock %}
    </head>
    <body class="2xl:bg-gradient-to-r from-white to-gray-500 2xl:mt-20 2xl:mb-10 2xl:flex 2xl:flex-col 2xl:font-sans bg-gray-100">
        {% include 'nav.html.twig' %}
        {% include './security/flash.html.twig' %}
        {% block body %}
        {% endblock %}
        {% include 'footer.html.twig' %}
    </body>
</html>
