<form method="post" action="{{ path('app_comments_report', {'id': comment.id}) }}" onsubmit="return confirm('Are you sure you want to report this comment?');">
    <button class="btn">Report</button>
</form>
