{% extends 'base.html.twig' %}

{% block title %}Edit Comments{% endblock %}

{% block body %}
<div class="flex flex-col justify-center container mx-auto w-1/4 h-fit my-6 mh-auto p-8 bg-gray-200 rounded-md">
    <p class="text-center text-2xl font-semibold mb-2">Edit Comments</p>
    <div class="w-full">
    {{ include('comments/_form.html.twig', {'button_label': 'Save'}) }}
    </div>
    {{ include('comments/_delete_form.html.twig') }}
    <button><a class="font-sans block w-fit h-full bg-gray-600 text-gray-300 hover:bg-gray-500 hover:text-white rounded-md px-2.5 py-1 mt-1 mb-2 text-m font-medium"href="{{ path('app_blog_show', {'id': comment.blog.id}) }}">Back to blog</a></button>
</div>

{% endblock %}
