{% extends 'base.html.twig' %}

{% block title %}Edit Comments{% endblock %}

{% block body %}
    <h1>Edit Comments</h1>

    {{ include('comments/_form.html.twig', {'button_label': 'Save'}) }}

    <a href="{{ path('app_blog_show', {'id': comment.blog.id}) }}">Back to blog</a>

    {{ include('comments/_delete_form.html.twig') }}
{% endblock %}
